@{
    ViewData["Title"] = "Домашня сторінка";
}

<div>
    <h1 class="display-4">Вітання!</h1>
    <h3>Цей сайт - лабораторна робота</h3>
</div>
<div class="container" style="width:50%;float:left; border:1px solid lightgrey;">
    <h5>Розглянемо три алгоритми</h5>

    <a class="link-primary" asp-area="" asp-controller="Lab1" asp-action="Index"><h4>Завдання #1</h4></a>
    <h6>Алгоритм Перестановки Символів</h6>
    <p>Суть цього алгоритма полягає в тому, щоб знайти всі можливі перестановки символів</p>
    <p>Алгоритм приймає довільну кількість попарно різних символів і виводить як результат роботи всі можливі комбінаці, яки можна утворити з цих символів</p>

    <a class="link-primary" asp-area="" asp-controller="Lab2" asp-action="Index"><h4>Завдання #2</h4></a>
    <h6>Алгоритм Пошуку Комбінацій</h6>
    <p>Цей алгоритм визначає кількість можливих послідовностей довжини N, які можна утворити з 0 та 1, в яких не стоять поруч дві одиниці "11"</p>

    <a class="link-primary" asp-area="" asp-controller="Lab3" asp-action="Index"><h4>Завдання #3</h4></a>
    <h6>Алгоритм П'ятнашкі</h6>
    <p>Маємо ігрове поле 4х2, яке складається з 7 комбінацій символів і одного символа <b>#</b>, який означає пусту клітину</p>
    <p>Задача цього алгоритму полягає в тому, щоб впорядкувати вхідну кобмінацію згідно взірця за мінімальну кількість ходів</p>
</div>
 