@{
    ViewData["Title"] = "Лаб#2";
}

<div>
    <h3>Лабораторна робота #2</h3>
</div>
<div class="container" style="border:1px solid lightgrey;">
    <h6 class="text-center">Алгоритм Перестановки Символів</h6>
    <div class="row">
        <div class="col-sm-6">
            <h6>Алгоритм Пошуку Комбінацій</h6>
            <p>Цей алгоритм визначає кількість можливих послідовностей довжини N, які можна утворити з 0 та 1, в яких не стоять поруч дві одиниці "11"</p>
            <hr />
            <p>Працює алгоритм наступним чином:</p>
            <p>
                Виходячи з того, що при утворені комбінацій довжини N ми маємо 2 рази(для 0 та 1) взяти послідовність N-1, і враховучи що при утворенні з оденицею нам підходить тільки та частина N-1, де не починається з 1, то це буде послідовсність N-2.
                <br />
                Таким чином при утворенні послідовності N ми беремо послідовність N-1 (для 0) і послідовність N-2 (для 1)
                <br />
                Утворюємо рекурсію таким чином, щоб при розрахунку для N послідовностей алгоритм обраховував суму для N-2 та N-1
                Коли пераметр рекурсії доходить до 1 то замість обрахунку вертає 2 комбінаціі, а при 0 вертає 1
                Для оптимізації обрахунку використовується кеш, тобто якщо для якогось числа N-x вже порахований результат то він зберігається і при повторному виклику просто вертає цей результат без необхідності знаву рекурсивно обраховувати.
                Цей алгоритм є варіантом послідовності фібоначчі
            </p>
        </div>
        <div class="col-sm-6">
            <form id="labform">
                <div class="form-group row">
                    <label for="input" class="form-label">Введіть Число</label>

                    <div class="col-md-6">

                        <input name="input" type="number" class="form-control" id="input" placeholder="1 < N <= 1000">

                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-outline-dark">Порахувати</button>

                    </div>
                </div>

            </form>
            <div id="result"></div>
        </div>
    </div>

</div>
<script>
    $("#labform").submit(function (event) {
        event.preventDefault();
        $("#result").load("@Url.Action("RunLab")", $("#labform").serialize());

    });
</script>
