[Unit]
Description=Example .NET Web MVC App running on Ubuntu

[Service]
WorkingDirectory=/var/labwebmvc
ExecStart=/usr/bin/dotnet /var/labwebmvc/LabWebMVC.dll  
# --urls http://0.0.0.0:80
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=11
KillSignal=SIGINT
SyslogIdentifier=aspmvc-identifier
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target